<div>
    <img id="user-image" ng-src="/api/person/{{user.id}}/photo" width="50" ng-style="{'border-radius': size/2}">
    <div ng-if="showSvg" ng-style="{width: size, height: size}">
        <svg width="100%" height="100%">
            <circle
                    ng-attr-r="{{size/2}}"
                    ng-attr-cx="{{size/2}}"
                    ng-attr-cy="{{size/2}}"
                    ng-attr-fill="{{circleColor}}"
            >
            </circle>
            <text
                    ng-attr-x="{{size/2}}"
                    ng-attr-y="{{size/2}}"
                    text-anchor="middle"
                    alignment-baseline="hanging"
                    font-family="Impact"
                    font-weight="bolder"
                    font-size="{{size/2}}"
                    ng-attr-fill="{{textColor}}"
                    dy=".35em">
                {{user.name | initials}}
            </text>
        </svg>
    </div>
</div>