.person-widget-wrapper {
    position:relative;
}

.person-widget-element {
    position:absolute;
    background-color: #FFFFFF;
    border:1px solid #CCC;
    border-radius:5px;
    z-index:100;
    cursor:default;
    left:-20%;
    overflow: visible;
    bottom: -10px;

    > .panel-heading {
        padding: 1px 15px !important;
    }

    > .panel-body {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

     > :before, :after {
        top: 100%;
        left: 20%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
    }

    > :after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #FFF;
        border-width: 10px;
        margin-left: -10px;
    }
    > :before {
        border-color: rgba(204, 204, 204, 0);
        border-top-color: #CCC;
        border-width: 11px;
        margin-left: -11px;
    }
}

.person-widget-text {
    border-bottom: 1px dotted #ccc;
    cursor: pointer;

    &:hover {
        border-bottom: 1px dotted #999;
    }
}

.person-widget-table {
    margin-bottom: 0;
    td {
        border-style: none !important;
        white-space: nowrap;
    }
}

.person-widget-close {
    opacity:0.5;
    cursor:pointer;
    padding:0;
    margin:0;

    &:hover {
        opacity:1;
    }
}