<div class="col-md-6" xmlns="http://www.w3.org/1999/html">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Utgaver</h2>
                </div>
            </div>
        </div>
        <div class="panel body">
            <div class="row">
                <div class="col-md-6">
                    </br>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-2">
                            <label>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        {{option}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-click="option = 'Utgivelser'" ><a>Utgivelser</a></li>
                                        <!--<li ng-click="option = 'Aktive utgaver'"><a>Aktive utgaver</a></li>-->
                                    </ul>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    </br>
                    <input class="form-control" type="text" placeholder="Søk etter ID, navn eller dato" ng-model="searchFilter">
                </div>
            </div>

            </br>
            <div class="row">
                <div class="col-md-10 col-md-offset-1" >
                    <div class="table-responsive" >
                        <table class="table table-hover" ng-show="option == 'Utgivelser'" ng-click="editionView ='true'; newWindow='false'">
                            <tr class="active" >
                                <th>ID</th>
                                <th>Navn</th>
                                <th>Utgivelsesdato</th>
                            </tr>
                            <tr class="success" ng-repeat="publication in publicationData | filter:searchFilter | orderBy: '-id' | limitTo:4"
                                ng-click="getPublication(publication.id)">
                                <td>{{publication.id}}</td>
                                <td>{{publication.name}}</td>
                                <td>{{publication.release_date}}</td>
                            </tr>
                        </table>
                        <!--<table class="table table-hover" ng-show="option == 'Aktive utgaver'" ng-click="editionView ='true'">-->
                            <!--<tr class="active">-->
                                <!--<th>ID</th>-->
                                <!--<th>Navn</th>-->
                                <!--<th>Dato</th>-->
                            <!--</tr>-->
                            <!--<tr class="success" ng-repeat="publication in active | filter:searchFilter | orderBy:['-year', '-id'] | limitTo:4"-->
                                <!--ng-click="getPublication(publication.id)">-->
                                <!--<td>{{publication.id}}</td>-->
                                <!--<td>{{publication.name}}</td>-->
                                <!--<td>{{publication.release_date}}</td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <div class="btn-group">
                        <button type="button" ng-click="newWindow = 'true'; editionView='false'" class="btn btn-default">Ny utgave</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Ny utgave view -->

<div class="col-md-6" ng-show="newWindow =='true'">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12 col-md-offset-4">
                    <h2>Ny utgave</h2>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <label>
                        Navn:
                    </label>
                </div>
            </div>
            <div class="row">
                <form name="newForm">
                    <div class="col-md-7 col-md-offset-1">
                        <input  class="form-control" type="text" placeholder="Navn.." name="nameTag" ng-model="new.name" required>
                    </div>
                    <span class="error" ng-show="newForm.nameTag.$error.required">
                        Required!
                    </span>
                </form>
            </div>
            </br>
            </br>
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <label>
                        Utgivelsesdato:
                    </label>
                </div>
                <div class="col-md-8">
                    <input type="date" ng-model="new.release_date" required>
                </div>
            </div>
            </br>
            </br>
            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <div class="btn-group">
                        <button type="button" ng-disabled="newForm.nameTag.$error.required" ng-click="fileSaved()" class="btn btn-default">Lagre</button>
                        <button type="button" ng-click="newWindow = 'false'" class="btn btn-default">Lukk</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Valgt utgave view -->

<div class="col-md-6" ng-show="editionView=='true'">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12 ">
                    <h2 class="text-center">{{edit.name}}</h2>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-11 col-md-offset-1" ng-model="edit.id">
                    <label>
                        <button type="button" class="btn btn-default btn-lg" ng-disabled="true">ID: {{edit.id}}</button>
                    </label>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <label>
                        Navn:
                    </label>
                </div>
            </div>
            <div class="row">
                <form name="chosenForm">
                    <div class="col-md-7 col-md-offset-1">
                        <input class="form-control" type="text" placeholder="Navn.." name="nameTag" ng-model="edit.name" maxlength="30" required>
                    </div>
                    <span class="error" ng-show="chosenForm.nameTag.$error.required">
                        Required!
                    </span>
                </form>
            </div>
            </br>
            </br>
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <label>
                        Utgivelsesdato:
                    </label>
                </div>
                <div class="col-md-8">
                    <input type="date" ng-model="edit.release_date">
                </div>
            </div>
            </br>
            </br>
            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default"ng-click="getDisposal(edit.id)">Disposisjon</button>
                        <button type="button" ng-click="fileSaved(edit.id)" class="btn btn-default">Lagre</button>
                        <button type="button" ng-click="editionView='false'" class="btn btn-default">Lukk</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>