<div class="col-md-6">

    <h3 >Utgaver</h3>
    </br>

    <div style="width:500px;height:370px;border:2px solid #000;">

        <div class="row">
            <div class="col-md-1">
            <div class="col-md-6">
                <label>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{option}}
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-click="option = 'År'" ><a>År</a></li>
                            <li ng-click="option = 'Aktive utgaver'"><a>Aktive utgaver</a></li>
                        </ul>
                    </div>

                </label>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="col-md-6">
                    </br>
                    <input  type="text" placeholder="Search here" ng-model="searchYearFilter">
                </div>
            </div>
        </div>

        </br>
        <div class="col-md-9" >
            <ul class="table-hover" ng-show="option == 'År'" ng-repeat="publication in publications | filter:searchYearFilter | orderBy:['-year', '-month']| limitTo:5">
                <!--<li class="table table-hover" ng-repeat="publication in publications | filter:searchYearFilter | orderBy:['-year', '-month']| limitTo:5">-->
                    <div class="btn-group-vertical">
                        <button type="button" ng-click="newWindow = 'showPublication'" class="btn btn-default">{{publication.month}} - {{publication.year}}</button>
                    </div>
                    <!--<a ng-click="newWindow = 'showPublication'">{{publication.month}}-{{publication.year}}</a>-->
                <!--</li>-->
            </ul>

            <ul class="table-bordered" ng-show="option == 'Aktive utgaver'">
                <li class="table table-hover" ng-repeat="publication in actives | filter:searchYearFilter | orderBy:['-year', '-month']| limitTo:5">

                    <a ng-click="newWindow = 'showPublication'" >{{publication.month}}-{{publication.year}}</a>
                </li>
            </ul>
        </div>

        <div class="row">
        </div>

        <div class="col-md-12">
            <div class="btn-group">
                <button type="button" ng-click="newWindow = 'newPublication'" class="btn btn-default">Ny</button>
                <button type="button" class="btn btn-default">Endre</button>
                <button type="button" class="btn btn-default">Disposisjon</button>
                <button type="button" ng-click="newWindow = 'null'" class="btn btn-default">Lukk</button>
            </div>
        </div>
    </div>
</div>


<!-- Ny utgave view -->

<div class="col-md-6" ng-show="newWindow =='newPublication'">

    <h3>Ny utgave</h3>
    </br>


    <div style="width:500px;height:370px;border:2px solid #000;">

        <div class="row">
            <div class="col-md-1">
            </div>

            <div class="col-md-11">
                <label>
                    Navn:
                </label>

            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-11">
                <input  type="text" placeholder="Navn.." ng-model="dunno">
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-md-1">
            </div>

            <div class="col-md-11">
                <label>
                    Beskrivelse:
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>

            <div class="col-md-11">
                <textarea rows="4" cols="44" ng-model="beskrivelse">
                </textarea>
            </div>

        </div>
        </br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>
                    Deadline:
                </label>
            </div>
            <div class="col-md-8">
                <input type="date">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>
                    Trykkedato:
                </label>
            </div>
            <div class="col-md-8">
                <input type="date">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <label>
                    Utgivelsesdato:
                </label>
            </div>
            <div class="col-md-8">
                <input type="date">
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="btn-group">
                    <button type="button" ng-click="fileSaved()" class="btn btn-default">Lagre</button>
                    <button type="button" ng-click="newWindow = 'null'" class="btn btn-default">Lukk</button>
                </div>
            </div>
        </div>

    </div>


</div>

<!-- Valgt utgave view -->

<div class="col-md-6" ng-show="newWindow =='showPublication'">

    <h2>-VALGT UTGAVE-</h2>

</div>