# IDE
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml
npm-debug.log

log/
database/
node_modules/
.tmp/
src/main/webapp/app/libs/
src/main/resources/local.properties

# build folders
target/
src/main/webapp/dist/