# IDE
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml
npm-debug.log

.settings
.classpath
.project
.factorypath
org.eclipse*
.vscode/
*.swo
*.swp
.vscode/

log/
database/
node_modules/
.tmp/
src/main/webapp/app/libs/
src/main/resources/local.properties
src/main/resources/key.der
src/main/resources/key.pem
src/main/resources/cert.pem

# build folders
target/
src/main/webapp/dist/
bin/

**/*.css
**/*.css.map

package-lock.json