# IDE
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml
npm-debug.log
.settings
.classpath
.project
.factorypath
org.eclipse*
.vscode/
*.swo
*.swp
.vscode/

log/
database/
node_modules/
.tmp/
src/main/webapp/app/libs/
src/main/filters/local.properties
src/main/resources/local.properties
src/main/resources/spcert.pem
src/main/resources/spkey.der

# build folders
target/
src/main/webapp/dist/
bin/

# When running jetty locally it expects the dist folders to exist
# The .gitkeep file ensures they do, but everything else should be ignored
webapp/dist/**/*
!webapp/dist/.gitkeep
webapp-beta/dist/**/*
!webapp-beta/dist/.gitkeep

# sass output
**/*.css
**/*.css.map

package-lock.json
yarn.lock

certificate.crt

# Docker compose env
.env