@import '../../../../style/variables.scss';

#disposition {
    font-size: 75%;
}

.d-title {
    padding: 5px;
    margin-bottom: 0;
    border-bottom: $global-border;
}

.d-loading-spinner {
    position: fixed;
    top: 64px;
    left: 50%;
    z-index: 200;
}

.d-toolbar {
    width: 100%;
    z-index: 100;
    background: $disp-header-background;
    border-left: $disp-page-border;
    border-right: $disp-page-border;
    border-top: $disp-page-border;
    box-sizing: border-box;

    .button-group {
        display: flex;
        flex-direction: row;

        > * {
            margin: 5px;
        }

        page-adder {
            flex-grow: 1;
        }
    }

    #online-users {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }

    .headers {
        border-top: $disp-page-border;
    }
}

.d-toolbar-attach {
    position: fixed;
    top: 50px;
    border-bottom: $disp-page-border;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.disposition-table {
    padding: 0;
    margin-top: 0;
    margin-bottom: 100px;
    border-bottom: $disp-page-border;

    .dndPlaceholder {
        display: block;
        min-height: 40px;
        background-color: #ddd;
    }

    .dndDraggingSource {
        display: none !important;
    }
}

.page-done {
    background: $disp-page-done-background !important; //Want this to override ad color
}

.d-break-word {
    word-wrap:break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.d-dropdown {
    background: rgba(255,255,255,0.5);
    outline: 0;
    border: $disp-page-border;
}

.ui-sortable-helper {
    opacity:0.7;
}

.d-placeholder {
    background-color: #99ff99;
}

.handle {
    text-align: center;
    cursor: move;
}

.ui-sortable-selected {
    .handle {
        border-left:3px solid #F00 !important;
    }
}
