@import '../../../../style/variables.scss';

#disposition {
    font-size: 75%;

    // Its being overriden by uikit, so force it here
    select {
        font-size: 1em;
    }
}

.d-toolbar {
    background: $disp-header-background;
    border-left: $disp-page-border;
    border-right: $disp-page-border;
    border-top: $disp-page-border;
    box-sizing: border-box;

    .d-title-row {
        display: flex;
        padding: 10px;
        align-items: center;
        flex-wrap: wrap;
        :not(:last-child) {
            margin-right: 8px;
        }
    }

    .d-button-group {
        display: flex;
        flex-wrap: wrap;

        > * {
            margin: 5px;
        }

        page-adder {
            flex-grow: 1;
        }
    }

    .d-column-headers {
        display: flex;
        border-top: $disp-page-border;
    }
}

.d-toolbar-attach {
    position: fixed;
    top: 50px;
    border-bottom: $disp-page-border;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.disposition-table {
    padding: 0;
    margin-top: 0;
    margin-bottom: 100px;
    border-bottom: $disp-page-border;

    .dndPlaceholder {
        display: block;
        min-height: 40px;
        background-color: #ddd;
    }

    .dndDraggingSource {
        display: none !important;
    }
}
