<div uk-grid>
    <!-- left panel -->
    <div class="uk-width-3-5@m">
        <panel icon="'fas fa-newspaper'" header="'Utgaver'" no-body-padding="true" type="'primary'">
            <extra-header-content>
                <ui-select
                    theme="select2"
                    ng-model="vm.selectedYear"
                    search-enabled="false"
                    style="width: 100px">
                    <ui-select-match placeholder="År" allow-clear="true">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="item in vm.yearOptions">
                        <span ng-bind-html="item"></span>
                    </ui-select-choices>
                </ui-select>
            </extra-header-content>
            <div
                ng-if="!vm.publications.$resolved"
                class="uk-text-center uk-padding-small"
            >
                <loading-spinner></loading-spinner>
            </div>
            <table class="uk-table uk-table-hover uk-table-striped">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Utgivelsesdato</th>
                        <th class="uk-table-shrink"></th>
                        <th class="uk-table-shrink"></th>
                        <th class="uk-table-shrink"></th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="publication in filteredPubs = (vm.publications | filter:vm.isInCurrentYear)
                                | orderBy:'release_date':true
                                | startFrom:(vm.currentPage)*vm.pageSize 
                                | limitTo:vm.pageSize"
                >
                    <td>{{publication.name}}</td>
                    <td>{{publication.release_date | date: 'dd/MM/yyyy'}}</td>
                    <td><a ui-sref="article.search({publication: publication.id})">Artikler</a></td>
                    <td><a ui-sref="publication.disposition({id: publication.id})">Disposisjon</a></td>
                    <td><a class="interact" ng-click="vm.editPublication(publication)">Endre</a></td>
                </tr>
                </tbody>
            </table>
            <ul class="uk-pagination uk-flex-center" ng-hide="vm.news.length === 0">
                <li>
                    <span
                        style="cursor: pointer;"
                        ng-click="vm.currentPage = vm.currentPage - 1"
                        ng-class="{'uk-disabled': vm.currentPage === 0}"
                    >
                        <span uk-pagination-previous></span>
                    </span>
                </li>
                <li class="uk-active">
                    <span>{{vm.currentPage + 1}}</span>
                </li>
                <li>
                    <span
                        style="cursor: pointer;"
                        ng-click="vm.currentPage = vm.currentPage + 1"
                        ng-class="{'uk-disabled': !vm.hasNextPage(filteredPubs.length)}"
                    >
                        <span uk-pagination-next></span>
                    </span>
                </li>
            </ul>
        </panel>
    </div>

    <!-- right panel, for editing/new -->
    <div class="uk-width-2-5@m">
        <panel
            icon="'fas fa-edit'"
            header="vm.editing.id != null ? 'Rediger ' + vm.editing.name : 'Ny utgave'"
            type="vm.editing.id != null ? 'edit' : 'new'"
        >
            <form
                class="uk-form-stacked"
                name="vm.publicationForm"
                ng-submit="vm.saveEditedPublication()"
                novalidate
            >
                <!-- name input -->
                <div class="uk-margin">
                    <label class="uk-form-label" for="name">Navn</label>
                    <div class="uk-form-controls">
                        <input
                            type="text"
                            name="name"
                            ng-model="vm.editing.name"
                            ng-class="{'uk-form-danger': vm.publicationForm.name.$invalid}"
                            class="uk-input"
                            required
                        >
                    </div>
                </div>
                <!-- date input with selector -->
                <div class="uk-margin">
                    <label class="uk-form-label" for="date">Utgivelsesdato</label>
                    <div class="uk-form-controls">
                        <input
                            type="date"
                            name="date"
                            ng-model="vm.editing.release_date"
                            ng-class="{'uk-form-danger': vm.publicationForm.date.$invalid}"
                            class="uk-input"
                            required
                        >
                    </div>
                </div>
                <div class="uk-margin">
                    <button
                        type="submit"
                        class="uk-button uk-button-primary"
                        ng-disabled="vm.publicationForm.$invalid"
                        button-loading="vm.savePromise"
                    >
                        Lagre
                    </button>
                    <button
                        type="button"
                        class="uk-button uk-button-secondary"
                        ng-click="vm.editing = {}"
                    >
                        Avbryt
                    </button>
                </div>
            </form>
        </panel>
    </div>
</div>