<div class="select-dropdown" ng-keypress="vm.onKeypress($event)">
    <div
        class="select-dropdown-item"
        ng-class="{'uk-form-danger': vm.ngModel.$invalid}"
        tabindex="0"
        ng-focus="vm.onFocus()"
        ng-blur="vm.onBlur()"
        >
        <span
            ng-class="{'uk-text-muted': vm.viewModel == null && !vm.showDropdown }"
        >
            {{ vm.viewModel == null ? vm.placeholder : (vm.label ? vm.viewModel[vm.label] : vm.viewModel) }}
        </span>
        <i ng-show="vm.viewModel != null && vm.unclearable == null" class="clear fas fa-times" ng-click="vm.clear($event)"></i>
        <i class="fas fa-caret-down"></i>
    </div>
    <div class="select-dropdown-drop" ng-style="{ display: vm.showDropdown ? 'block' : 'none'}">
        <div
            class="select-dropdown-dropitem"
            ng-repeat="p in vm.items track by (p.id != null ? p.id : p)"
            ng-mousedown="vm.onListMousedown()"
            ng-mouseup="vm.onListMouseup()"
            ng-click="vm.onSelect(p)"
            ng-mouseenter="vm.listIndex = $index"
            ng-class="{hover: vm.listIndex === $index}"
        >
            <span>{{ vm.label ? p[vm.label] : p }}</span>
        </div>
    </div>
</div>