<div class="select-container">
    <select
        ng-style="{'color': vm.value == null ? 'grey' : 'unset'}"
        ng-class="{'uk-form-danger': vm.ngModel.$invalid, 'uk-form-small': vm.small != null}"
        class="uk-select"
        ng-model="vm.value"
        ng-change="vm.changeHandler()"
        ng-required="vm.isRequired"
        ng-options="value as (vm.label ? value[vm.label] : value) for value in vm.items track by (value.id != null ? value.id : value)"
    >
        <option ng-if="vm.value == null" value="" disabled selected>{{vm.placeholder}}</option>
    </select>
    <div
        ng-if="vm.unclearable == null && vm.value != null"
        ng-click="vm.clear()"
        class="select-clear"
    >
        <i class="fas fa-times"></i>
    </div>
</div>
