<div class="disposition-advert">
    <!--Dropdown-arrow-->
    <div ng-style="vm.columnWidths.dropdown">
        <i class="fas fa-bullhorn"></i>
    </div>
    <div ng-style="vm.columnWidths.section"></div>
    <!--Name-->
    <div ng-style="vm.columnWidths.name">
        <div>{{vm.advert.name}}</div>
    </div>
    <!--Quick Lazy Fix-->
    <div ng-style="vm.columnWidths.contributors"></div>
    <div ng-style="vm.columnWidths.status"></div>
    <div ng-style="vm.columnWidths.review"></div>
    <div ng-style="vm.columnWidths.photo_status"></div>
    <!--Comment-->
      <div ng-style="vm.columnWidths.comment">
          <inline-edit
                placeholder="[Kommentar]"
                model="vm.advert.comment"
                on-save="vm.submitAdvertComment(advert, value)">
          </inline-edit>
      </div>
  </div>