<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Ventende forespørsler</div>
                <div
                    ng-show="(vm.requests | filter:{external: false, status: 'PENDING'}).length === 0"
                    class="panel-body"
                >
                    <div class="no-pending-requests">
                        <div><i class="fa fa-4x fa-thumbs-up"></i></div>
                        <h3>Det finnes ingen ventende illustrasjonsforespørsler!</h3>
                    </div>
                </div>
                <table
                    ng-show="(vm.requests | filter:{external: false, status: 'PENDING'}).length > 0"
                    class="table table-striped"
                    style="font-size: 85%"
                >
                    <thead>
                    <tr>
                        <th style="width: 35%">Artikkel</th>
                        <th style="width: 35%">Forespørsel</th>
                        <th style="width: 25%">Kommentar</th>
                        <th style="width: 5%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="request in vm.requests | filter:{external:false, status:'PENDING'}">
                        <td>
                            <b><a ui-sref="article({id: request.article.id})">{{request.article.name}}</a></b>
                            <div>{{request.number_of_pages}} side{{request.number_of_illustrations > 1 ? 'r' : ''}}</div>
                            <div>{{request.article.type.name}}</div>
                            <div class="status-field" ng-style="{backgroundColor: request.article.section.color}">{{request.article.section.name}}</div>
                            <div class="status-field" ng-style="{backgroundColor: request.article.status.color}">{{request.article.status.name}}</div>
                        </td>
                        <td>
                            <span>{{ request.created | date: 'dd/MM/yyyy HH:mm' }}</span>
                            <span person-widget="request.requester">{{request.requester.name}}</span> spør om
                            <div><b>
                                {{request.number_of_illustrations}} illustrasjon{{request.number_of_illustrations > 1 ? 'er' : ''}}
                            </b></div>
                            <div>{{request.description}}</div>
                        </td>
                        <td>
                            <inline-edit
                                placeholder="[Rediger]"
                                no-wrap=""
                                model="request.illustrator_comment"
                                on-save="vm.saveIllustratorComment(request, value)">
                            </inline-edit>
                        </td>
                        <td>
                            <div><i
                                uib-tooltip="Gi til illustratør"
                                style="color: {{vm.statusData.ACCEPTED.color}}"
                                class="fa fa-user fa-2x"
                                ng-click="vm.giveToIllustrators(request)"
                            >
                            </i></div>
                            <div><i
                                uib-tooltip="Avvis"
                                style="color: {{vm.statusData.DENIED.color}}"
                                class="fa fa-times fa-2x"
                                ng-click="vm.updateStatus(request, 'DENIED')"
                            >
                            </i></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div
                ng-show="(vm.requests | filter:{external: false, status: 'DENIED'}).length > 0"
                class="panel panel-danger"
            >
                <div class="panel-heading">Avviste forespørsler</div>
                <table class="table table-condensed table-striped" style="font-size: 85%">
                    <thead>
                    <tr>
                        <th style="width: 35%">Artikkel</th>
                        <th style="width: 35%">Forespørsel</th>
                        <th style="width: 25%">Kommentar</th>
                        <th style="width: 5%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="request in vm.requests | filter:{external:false, status:'DENIED'}">
                        <td>
                            <b><a ui-sref="article({id: request.article.id})">{{request.article.name}}</a></b>
                            <div>{{request.number_of_pages}} side{{request.number_of_illustrations > 1 ? 'r' : ''}}</div>
                            <div>{{request.article.type.name}}</div>
                            <div class="status-field" ng-style="{backgroundColor: request.article.section.color}">{{request.article.section.name}}</div>
                            <div class="status-field" ng-style="{backgroundColor: request.article.status.color}">{{request.article.status.name}}</div>
                        </td>
                        <td>
                            <span>{{ request.created | date: 'dd/MM/yyyy HH:mm' }}</span>
                            <span person-widget="request.requester">{{request.requester.name}}</span> spør om
                            <div><b>
                                {{request.number_of_illustrations}} illustrasjon{{request.number_of_illustrations > 1 ? 'er' : ''}}
                            </b></div>
                            <div>{{request.description}}</div>
                        </td>
                        <td>
                            <inline-edit
                                placeholder="[Rediger]"
                                no-wrap=""
                                model="request.illustrator_comment"
                                on-save="vm.saveIllustratorComment(request, value)">
                            </inline-edit>
                        </td>
                        <td>
                            <div><i
                                uib-tooltip="Sett til ventende"
                                style="color: {{vm.statusData.PENDING.color}}"
                                class="fa fa-undo fa-2x"
                                ng-click="vm.updateStatus(request, 'PENDING')"
                            >
                            </i></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div
                class="panel panel-info"
                ng-show="(vm.requests | filter:{external: false, status: 'ACCEPTED'}).length > 0"
            >
                <div class="panel-heading">Illustrasjoner under arbeid</div>
                <table class="table table-condensed table-striped" style="font-size: 85%">
                    <thead>
                    <tr>
                        <th style="width: 25%">Artikkel</th>
                        <th style="width: 20%">Illustratører</th>
                        <th style="width: 30%">Forespørsel</th>
                        <th style="width: 20%">Kommentar</th>
                        <th style="width: 5%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="request in vm.requests | filter:{external:false, status:'ACCEPTED'}">
                        <td>
                            <b><a ui-sref="article({id: request.article.id})">{{request.article.name}}</a></b>
                            <div>{{request.number_of_pages}} side{{request.number_of_illustrations > 1 ? 'r' : ''}}</div>
                            <div>{{request.article.type.name}}</div>
                            <div class="status-field" ng-style="{backgroundColor: request.article.section.color}">{{request.article.section.name}}</div>
                            <div class="status-field" ng-style="{backgroundColor: request.article.status.color}">{{request.article.status.name}}</div>
                        </td>
                        <td>
                            <span ng-repeat="illustrator in request.article.photographers track by illustrator.id">
                                <span person-widget="illustrator">{{illustrator.name}}</span>
                            </span>
                        </td>
                        <td>
                            <span>{{ request.created | date: 'dd/MM/yyyy HH:mm' }}</span>
                            <span person-widget="request.requester">{{request.requester.name}}</span> spør om
                            <div><b>
                                {{request.number_of_illustrations}} illustrasjon{{request.number_of_illustrations > 1 ? 'er' : ''}}
                            </b></div>
                            <div>{{request.description}}</div>
                        </td>
                        <td>
                            <inline-edit
                                placeholder="[Rediger]"
                                model="request.illustrator_comment"
                                on-save="vm.saveIllustratorComment(request, value)">
                            </inline-edit>
                        </td>
                        <td>
                            <i
                                uib-tooltip="Ferdig!"
                                style="color: {{vm.statusData.COMPLETED.color}}"
                                class="fa fa-check fa-2x"
                                ng-click="vm.updateStatus(request, 'COMPLETED')"
                            >
                            </i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div
                ng-show="(vm.requests | filter:{external: false, status: 'COMPLETED'}).length > 0"
                class="panel panel-success"
            >
                <div class="panel-heading">Ferdige illustrasjoner</div>
                <table class="table table-condensed table-striped" style="font-size: 85%">
                    <thead>
                    <tr>
                        <th style="width: 25%">Artikkel</th>
                        <th style="width: 20%">Illustratører</th>
                        <th style="width: 30%">Forespørsel</th>
                        <th style="width: 20%">Kommentar</th>
                        <th style="width: 5%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="request in vm.requests | filter:{external:false, status:'COMPLETED'}">
                        <td>
                            <b><a ui-sref="article({id: request.article.id})">{{request.article.name}}</a></b>
                            <div>{{request.number_of_pages}} side{{request.number_of_illustrations > 1 ? 'r' : ''}}</div>
                            <div>{{request.article.type.name}}</div>
                            <div class="status-field" ng-style="{backgroundColor: request.article.section.color}">{{request.article.section.name}}</div>
                            <div class="status-field" ng-style="{backgroundColor: request.article.status.color}">{{request.article.status.name}}</div>
                        </td>
                        <td>
                            <span ng-repeat="illustrator in request.article.photographers track by illustrator.id">
                                <span person-widget="illustrator">{{illustrator.name}}</span>
                            </span>
                        </td>
                        <td>
                            <span>{{ request.created | date: 'dd/MM/yyyy HH:mm' }}</span>
                            <span person-widget="request.requester">{{request.requester.name}}</span> spør om
                            <div><b>
                                {{request.number_of_illustrations}} illustrasjon{{request.number_of_illustrations > 1 ? 'er' : ''}}
                            </b></div>
                            <div>{{request.description}}</div>
                        </td>
                        <td>
                            <inline-edit
                                placeholder="[Rediger]"
                                model="request.illustrator_comment"
                                on-save="vm.saveIllustratorComment(request, value)">
                            </inline-edit>
                        </td>
                        <td>
                            <i
                                uib-tooltip="Gjenoppta arbeid"
                                style="color: {{vm.statusData.ACCEPTED.color}}"
                                class="fa fa-undo fa-2x"
                                ng-click="vm.updateStatus(request, 'ACCEPTED')"
                            >
                            </i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
