@import '../../style/variables.scss';

.uk-active {
    background: $global-background;
}

.uk-navbar-nav > li {
    &:hover, &:focus-within {
        > a > span {
            border-bottom: solid 1px white;
        }
    }
    > a > span  {
        border-bottom: solid 1px transparent;
        //border-bottom: solid 1px transparent;
        transition: border-bottom-color .2s ease-in-out;
    }
}

.navbar-dev {
    background: pink !important;
}

.uk-logo {
    transition: color 0.1s linear;
    font-weight: bold;
    text-transform: uppercase;
}

@media(max-width: $breakpoint-medium) {
    // .uk-logo {
    //     display: none !important;
    // }
    .uk-navbar-nav > li > a > span > i {
        display: none !important;
    }
}

.beta-icon {
    position: relative;
    text-decoration: none !important;
    flex-direction: column;
    align-items: end !important;
    z-index: 1;

    .uk-logo {
        margin-bottom: -10px;
    }

    .beta-label {
        font-weight: bold;
        color: $global-edit-background;
    }

    &:hover {
        .uk-logo {
            color: white;
        }
        &:after {
            opacity: 0.5;
        }
    }

    &:after {
        content: "";
        background: url('/favicon.ico');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.2;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transition: opacity 0.1s linear;
    }
}