@import '../../style/variables.scss';

.news-panel {
    .news-title-row {
        display: flex;
        padding: 5px 5px 0 5px;
        align-items: center;
        background: $global-muted-background;
        
        .news-title {
            font-weight: bold;
            flex-grow: 1;
        }

        .button-edit {
            margin-right: 5px;
        }
    }

    .news-meta-row {
        padding: 5px;
        font-style: italic;
        border-bottom: 1px solid lightgrey;
        background: $global-muted-background;
    }

    .news-content {
        border-bottom: 1px solid lightgrey;
        padding: 10px 5px;
    }
}

.news-table {
    margin-bottom:0;
}