<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button
                    type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar-collapse"
            >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="front">Momus</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse" data-toggle="collapse" data-target="#navbar-collapse.in">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="front"><i class="fa fa-th-large"></i> Front</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="disposition"><i class="fa fa-file-text"></i> Disposisjon</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="search"><i class="fa fa-pencil"></i> Artikler</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="publications"><i class="fa fa-list"></i> Utgaver</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="info"><i class="fa fa-info"></i> Info/nyheter</a>
                </li>
                <li ui-sref-active="active" ng-cloak ng-show="devmode" class="navbar-dev">
                    <a ui-sref="dev"><i class="fa fa-cog"></i> Dev</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="visible-sm" ng-click="logout()">Logg ut <i class="fa fa-power-off"></i></a></li>
                <li><a class="hidden-sm"  ng-click="logout()">Logg ut <b>{{user.name}}</b> <i class="fa fa-power-off"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div>
    <ui-view></ui-view>
</div>