.front-column-trash { width: 2%;  }
.front-column-name {  width: 25%;  }
.front-column-symbols {  width: 5%;  }
.front-column-journalists {  width: 25%;  }
.front-column-status {  width: 15%;  }
.front-column-section {  width: 13%;  }
.front-column-publication {  width: 15%;  }

.fav {
    line-height:32px;
}