<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <form class="form-horizontal" name="createArticleForm">
            <div class="form-group" ng-class="{'has-error': createArticleForm.ArticleName.$invalid }">
                <label class="col-sm-3 control-label">
                    Tittel
                </label>

                <div class="col-sm-9">
                    <input name="ArticleName" class="form-control input-sm" type="text" ng-model="article.name"
                           required="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Journalister
                </label>

                <div class="col-sm-9">
                    <id-select multiple
                               items="persons"
                               target="article.journalists"
                               show="full_name">
                    </id-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Ekstern
                </label>

                <div class="col-sm-9">
                    <input class="form-control input-sm" type="text" ng-model="article.external_author">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Foto/Illu
                </label>

                <div class="col-sm-9">
                    <select class="form-control input-sm" ng-model="article.use_illustration"
                            ng-options="o.value as o.name for o in photoTypes"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    {{article.use_illustration ? 'Illustratører' : 'Fotografer'}}
                </label>

                <div class="col-sm-9">
                    <id-select multiple
                               items="persons"
                               target="article.photographers"
                               show="full_name">
                    </id-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Ekstern
                </label>

                <div class="col-sm-9">
                    <input class="form-control input-sm" type="text" ng-model="article.external_photographer">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Kommentar
                </label>

                <div class="col-sm-9">
                    <input class="form-control input-sm" type="text" ng-model="article.comment">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Publikasjon
                </label>

                <div class="col-sm-9">
                    <select class="form-control input-sm" ng-model="article.publication"
                            ng-options="s.name for s in publications track by s.id"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Seksjon
                </label>

                <div class="col-sm-9">
                    <select class="form-control input-sm" ng-model="article.section"
                            ng-options="s.name for s in sections | filter:{deleted: false} track by s.id"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Type
                </label>

                <div class="col-sm-9">
                    <select class="form-control input-sm" ng-model="article.type"
                            ng-options="s.name for s in types | orderBy:'type_order' | filter:{deleted: false} track by s.id "></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Status
                </label>

                <div class="col-sm-9">
                    <select class="form-control input-sm" ng-model="article.status"
                            ng-options="s.name for s in statuses | orderBy:'status_order' | filter:{deleted: false} track by s.id "></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Sitatsjekk
                </label>

                <div class="col-sm-9">
                    <select class="form-control input-sm" ng-model="article.quote_check_status"
                            ng-options="o.value as o.name for o in quoteCheckTypes"></select>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn btn-md btn-primary" ng-click="createArticle()" button-loader="creating"
                            ng-disabled="createArticleForm.$invalid">
                        <span>Opprett artikkel</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
