<div class="disposition-page" ng-class="{'page-done': vm.page.done}">
    <!--Page number-->
    <div class="handle" ng-style="vm.columnWidths.page_nr">{{vm.number}}</div>

    <!--Edit mode -->
    <div class="article-edit" ng-style="{width: vm.articleWidth + 'px'}" ng-show="vm.editing">
        <div><b>Artikler</b></div>
        <div class="content-input">
            <ui-select theme="select2" multiple ng-model="vm.newArticles">
                <ui-select-match placeholder="Artikler">{{$item.name}}</ui-select-match>
                <ui-select-choices repeat="item in (vm.articles | filter: $select.search) track by item.id">
                    <div ng-bind-html="item.name"></div>
                </ui-select-choices>
            </ui-select>
            <div>
                <button ng-click="vm.createArticle()" class="uk-button button-new" uk-tooltip="Lag ny artikkel">
                    <span class="fa-stack">
                        <i class="fas fa-file"></i>
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>
        </div>
        <div><b>Annonser</b></div>
        <div class="content-input">
            <ui-select theme="select2" multiple ng-model="vm.newAdverts">
                <ui-select-match placeholder="Annonser">{{$item.name}}</ui-select-match>
                <ui-select-choices repeat="item in (vm.adverts | filter: $select.search) track by item.id">
                    <div ng-bind-html="item.name"></div>
                </ui-select-choices>
            </ui-select>
            <div>
                <button ng-click="vm.createAdvert()" class="uk-button button-edit" uk-tooltip="Lag ny annonse">
                    <span class="fa-stack">
                        <i class="fas fa-bullhorn"></i>
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>

    <!-- View mode -->
    <div class="article-cell" ng-style="{width: vm.articleWidth + 'px'}" ng-hide="vm.editing">
        <disposition-article
            ng-repeat="articleId in vm.page.articles"
            continuation="vm.prevPageHasArticle(articleId)"
            article="vm.articlesLookup[articleId]"
            article-statuses="vm.articleStatuses"
            review-statuses="vm.reviewStatuses"
            column-widths="vm.columnWidths"
        ></disposition-article>
        <disposition-advert
            ng-repeat="advertId in vm.page.adverts"
            advert="vm.advertsLookup[advertId]"
            column-widths="vm.columnWidths"
        ></disposition-advert>          
    </div>

    <!--Layout status-->
    <div
        class="d-table-cell"
        ng-style="vm.applyColumnWidth('layout', {'background': vm.page.layout_status.color})"
    >
        <ui-select
            theme="select2"
            ng-model="vm.page.layout_status"
            on-select="vm.updatePageMeta(page)"
            search-enabled="false"
            style="width: 100%"
            small
        >
            <ui-select-match placeholder="Status">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices
                repeat="item in (vm.layoutStatuses | filter: $select.search) track by item.id"
                style="background-color: {{$item.color}}"
            >
                <span ng-bind-html="item.name"></span>
            </ui-select-choices>
        </ui-select>
    </div>

    <!-- Buttons -->
    <div class="page-buttons" ng-style="vm.columnWidths.buttons">
        <button
            ng-click="vm.toggleDone()"
            class="uk-button button-xs"
            ng-class="{'uk-button-danger' : !vm.page.done, 'button-new' : vm.page.done }"
            uk-tooltip="Siden er {{!vm.page.done ? 'ikke ' : ''}} helt ferdig"
        >
            <i class="fas fa-check fa-lg"></i>
        </button>
        <button title="Rediger innhold" ng-click="vm.editPage()" class="uk-button button-edit button-xs" ng-hide="vm.editing">
            <i class="fas fa-edit"></i>
        </button>
        <button title="Lagre innhold" ng-click="vm.submitPage()" class="uk-button button-new button-xs" ng-show="vm.editing">
            <i class="fas fa-save"></i>
        </button>
        <button title="Slett siden" ng-click="vm.deletePage()" class="uk-button uk-button-danger button-xs">
            <i class="fas fa-trash"></i>
        </button>
    </div>
</div>