<form name="pageForm" class="input-group input-group-sm" style="max-width: 360px;">
    <span class="input-group-addon">Legg til</span>
    <input class="form-control" name="num" type="number" ng-model="numNewPages" initial="1" min="1" max="{{maxNumPages}}">
    <span class="input-group-addon">ny(e) side(r) etter side</span>
    <input class="form-control" name="at" type="number" ng-model="newPageAt" initial="1"  min="0" max="{{maxPagePos}}">
    <span class="input-group-btn">
        <button class="btn btn-success" type="button" ng-click="click()" ng-disabled="!pageValid()"><i class="fas fa-plus"></i></button>
    </span>
</form>