<div class="disposition-article">
    <!--Dropdown-arrow-->
    <div ng-style="vm.columnWidths.dropdown" ng-class="{'hidden-column': vm.continuation}">
        <button
            class="uk-button uk-button-primary button-xs"
            ng-click="vm.toggleButtonRow()"
        >
            <i class="fas fa-arrows-alt-v"></i>
        </button>
    </div>
    <!--Section-->
    <div ng-style="vm.applyColumnWidth('section', {'background': vm.article.section.color})"></div>
    <!--Name-->
    <div ng-style="vm.columnWidths.name">
        <a ui-sref="article.single({id: vm.article.id})">{{vm.article.name}}</a>
        <span uib-tooltip="Antall tegn">({{vm.article.content_length}})</span>
        <div ng-style="{'color': vm.article.section.color}">
            <span class="section-text">{{vm.article.section.name}}</span>
        </div>
    </div>
    <!--Contributors-->
    <div ng-style="vm.columnWidths.contributors" ng-class="{'hidden-column': vm.continuation}">
        <div class="contributor-list" ng-show="vm.hasJournalists()">
            <i class="fas fa-pen" uk-tooltip="Journalister"></i>
            <div>
                <person-widget person="person" ng-repeat="person in vm.article.journalists"></person-widget>
                <i uk-tooltip="Ekstern">{{vm.article.external_author}}</i>
            </div>
        </div>
        <div class="contributor-list" ng-show="vm.hasPhotographers()">
            <i
                class="fas fa-{{vm.article.has_illustration ? 'paint-brush' : 'camera'}}"
                uk-tooltip="{{vm.article.has_illustration ? 'Illustratører': 'Fotografer'}}">
            </i>
            <div>
                <person-widget person="person" ng-repeat="person in vm.article.photographers"></person-widget>
                <i uk-tooltip="Ekstern">{{vm.article.external_photographer}}</i>
            </div>
        </div>
        <div class="contributor-list" ng-show="vm.hasGraphics()">
            <i class="fas fa-object-group" uk-tooltip="Grafikere"></i>
            <div>
                <person-widget person="person" ng-repeat="person in vm.article.graphics"></person-widget>
            </div>
        </div>
    </div>
    <!--Status-->
    <div ng-style="vm.applyColumnWidth('status', {'background': vm.article.status.color})" ng-class="{'hidden-column': vm.continuation}">
        <ui-select
            theme="select2"
            ng-model="vm.article.status"
            on-select="vm.updateArticle()"
            search-enabled="false"
            style="width: 100%"
            small>
            <ui-select-match placeholder="Status">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices
                repeat="item in vm.articleStatuses track by item.id"
                style="background-color: {{$item.color}}"
            >
                <span ng-bind-html="item.name"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <!--Review-->
    <div ng-style="vm.applyColumnWidth('review', {'background': vm.article.review.color})" ng-class="{'hidden-column': vm.continuation}">
        <ui-select
            ng-model="vm.article.review"
            on-select="vm.updateArticle()"
            search-enabled="false"
            style="width: 100%"
            theme="select2"
            small>
            <ui-select-match placeholder="Korr.">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices
                repeat="item in vm.reviewStatuses track by item.id"
                style="background-color: {{$item.color}}"
            >
                <span ng-bind-html="item.name"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <!--Photostatus-->
    <div ng-style="vm.columnWidths.photo_status" title="Klikk for å redigere" ng-class="{'hidden-column': vm.continuation}">
        <inline-edit
                placeholder="[Fotostatus]"
                textlength="60"
                model="vm.article.photo_status"
                on-save="vm.submitField('photo_status', value)">
        </inline-edit>
    </div>
    <!--Comment-->
    <div ng-style="vm.columnWidths.comment" ng-class="{'hidden-column': vm.continuation}">
        <inline-edit
                placeholder="[Kommentar]"
                textlength="80"
                model="vm.article.comment"
                on-save="vm.submitField('comment', value)">
        </inline-edit>
    </div>
</div>
<div ng-show="vm.showButtonRow" class="extra-button-line">
    <a
        href="/api/article/{{vm.article.id}}/indesignfile"
        class="uk-button uk-button-primary button-xs"
        target="_blank"
    >
        <i class="fas fa-file"></i>
        InDesign fil
    </a>
    <a
        href="https://docs.google.com/document/d/{{vm.article.google_drive_id}}/edit"
        target="_blank"
        rel="noopener noreferrer"
        class="uk-button button-edit button-xs"
    >
        <i class="fas fa-edit"></i>
        Rediger i Google Docs
    </a>
</div>